<div class="container-fluid main">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="h2">お店情報</h2>
      <div class="flex-container">
        <div class="mt-10">
          <%= attachment_image_tag @shop, :shop_image, :fill, 200, 200,  fallback: "no_image.png", size: "200x200" %>
        </div>
        <div class="user-box overflow">
          <div class="clearfix">
            <h2 class="float-left name"><%= @shop.shop_name %>
              <% if current_user or current_admin %>
                <%= link_to edit_shop_path(@shop) do %>
                <i class="fas fa-cog"></i>
                <% end %></h2>
              <% end %>
              <div id="favorite-btn-<%= @shop.id %>" class="float-right mt-10">
                <%= render partial: 'favorites/favorite_form', locals: { shop: @shop} %>
              </div>
          </div>
          <p>カテゴリ：<%= @shop.category %></p>
            <p>所在地：<%= @shop.prefecture %><%= @shop.address %></p>
            <p>URL：<%= text_url_to_link(h(@shop.shop_url)).html_safe %></p>
            <p class="description"><%= @shop.shop_description %></p>
          </div>
        </div>
        <div class="com-top-border"></div>
        <div class="center">
          <h3>コメント(<%= @shop.comments.count %>)</h3>
          <div class="scroll-box inline-block">
            <% @shop.comments.each do |comment| %>
            <% unless comment.id.nil? %>
            <p class="comment-seperator"></p>
            <div class="comment-box">
              <%= link_to user_path(comment.user.id) do %><%= attachment_image_tag comment.user, :user_image, :fill, 30, 30, fallback: "no_image.png", size: "30x30" %><%= comment.user.nickname %>
              <% end %>
              <p><%= comment.content %></p>
            </div>
            <% end %>
            <% end %>
            <%= paginate @comments %>
          </div>
          <% if user_signed_in? %>
          <%= form_for [@shop, @comment] do |f| %>
            <%= f.text_area :content, :size => "40x5", class: "form-l inline-block" %>
            <%= f.submit "コメント", class: "button" %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>