<div class="container-fluid main">
  <div class="row">
	  <div class="col-md-6 col-md-offset-3">
      <h2 class="h2">ユーザー情報</h2>
      <div class="flex-container">
        <div class="mt-10">
          <%= attachment_image_tag @user, :user_image, :fill, 150, 150, fallback: "no_image.png", size: "150x150" %>
        </div>
        <div class="user-box overflow">
          <div class="clearfix">
            <h2 class="float-left name"><%= @user.nickname %>
              <% if current_user or current_admin %>
                <%= link_to edit_user_path(@user) do %>
                <i class="fas fa-cog"></i>
              <% end %>
            <% end %></h2>
          </div>
          <p class="description"><%= @user.user_description %></p>
        </div>
      </div>
      <p class="index-shop-address">◯<%= link_to "お気に入り", user_favs_path(@user) %></p>
      <p class="index-shop-address">◯<%= link_to "退会", @user, method: :delete, data: { confirm: "退会しますか？" } %></p>

    </div>
	</div>
</div>