<div class="container-fluid main">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="h2">パスワードを忘れた方はこちら</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="block">
            <label>メールアドレス</label>
              <%= f.email_field :email, class: "form" %>
            <div class="actions">
              <%= f.submit "パスワード新規作成", class: "button mt-10" %>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
