<div class="container-fluid main">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="h2">ログイン</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="block">
            <label>メールアドレス</label>
              <%= f.email_field :email, class: "form" %>
            <label>パスワード</label>
              <%= f.password_field :password, class: "form" %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
              <label>ログイン情報保持</label>
            <% end %>
            <div class="actions">
              <%= f.submit "ログイン", class: "button" %>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
    </div>
  </div>
</div>