<header>
    <ul class="nav">
    	<li><%= link_to "猫とひと息", '/' %></li>
    	<li>
            <p class="nav-text">北海道・東北</p>
              <ul>
                  <li><%= link_to '北海道', {:controller => "shops", :action => "index", :prefecture => '北海道'} %></li>
                  <li><%= link_to '青森県', {:controller => "shops", :action => "index", :prefecture => '青森県'} %></li>
                  <li><%= link_to '岩手県', {:controller => "shops", :action => "index", :prefecture => '岩手県'} %></li>
                  <li><%= link_to '宮城県', {:controller => "shops", :action => "index", :prefecture => '宮城県'} %></li>
                  <li><%= link_to '秋田県', {:controller => "shops", :action => "index", :prefecture => '秋田県'} %></li>
                  <li><%= link_to '山形県', {:controller => "shops", :action => "index", :prefecture => '山形県'} %></li>
                  <li><%= link_to '福島県', {:controller => "shops", :action => "index", :prefecture => '福島県'} %></li>
              </ul>
        </li>
        <li>
            <p class="nav-text">関東</p>
              <ul>
                  <li><a href="#">北海道</a></li>
                  <li><a href="#">青森県</a></li>
                  <li><a href="#">岩手県</a></li>
                  <li><a href="#">宮城県</a></li>
                  <li><a href="#">秋田県</a></li>
                  <li><a href="#">山形県</a></li>
                  <li><a href="#">福島県</a></li>
              </ul>
        </li>
        <li>
            <p class="nav-text">中部・近畿</p>
              <ul>
                  <li><a href="#">北海道</a></li>
                  <li><a href="#">青森県</a></li>
                  <li><a href="#">岩手県</a></li>
                  <li><a href="#">宮城県</a></li>
                  <li><a href="#">秋田県</a></li>
                  <li><a href="#">山形県</a></li>
                  <li><a href="#">福島県</a></li>
              </ul>
        </li>
        <li>
            <p class="nav-text">中国・四国</p>
              <ul>
                  <li><a href="#">北海道</a></li>
                  <li><a href="#">青森県</a></li>
                  <li><a href="#">岩手県</a></li>
                  <li><a href="#">宮城県</a></li>
                  <li><a href="#">秋田県</a></li>
                  <li><a href="#">山形県</a></li>
                  <li><a href="#">福島県</a></li>
              </ul>
        </li>
        <li>
            <p class="nav-text">九州・沖縄</p>
              <ul>
                  <li><a href="#">北海道</a></li>
                  <li><a href="#">青森県</a></li>
                  <li><a href="#">岩手県</a></li>
                  <li><a href="#">宮城県</a></li>
                  <li><a href="#">秋田県</a></li>
                  <li><a href="#">山形県</a></li>
                  <li><a href="#">福島県</a></li>
              </ul>
        </li>
        <li>
            <p class="nav-text"><%= current_user.nickname %></p>
            <ul>
            	<li><%= link_to "プロフィール", user_path(current_user.id) %></li>
              <li><%= link_to "お店投稿", new_shop_path %></li>
            	<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
        </li>
    </ul>
</header>

<script type='text/javascript'>
$(function() {
var nav = $('.nav');
$('li', nav)
.mouseover(function(e) {
$('ul', this).stop().slideDown('fast');
})
.mouseout(function(e) {
$('ul', this).stop().slideUp('fast');
});
});
</script>